img {
  width: 180px;
  display: block;
  margin: 0 auto;
}
a {
  font-size: 30px;
}
p {
}
input {
  height: 25px;
  width: 270px;
}

.login {
  width: 380px;
  padding: 30px;
  border: 1px solid darkgray;
}
