.amazon-top {
  width: 180px;
  display: block;
  margin: 0 auto;
}
.title {
  font-size: 27px;
  font-weight: 100;
}

.input-form {
  border: 1px solid #898989;
  height: 31px;
  padding: 3px 7px;
  width: 290px;
  border-radius: 3px;
}

.login-frame {
  width: 340px;
  padding: 20px;
  height: auto;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 5px;
  margin: 0 auto;
}
label {
  margin-top: 10px;
  font-weight: bold;
  font-size: 13px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}
input[type="text"]:focus {
  outline: none;
  border: solid 1px orange;
  border-radius: 3px;
  height: 28px;
  box-shadow: 0 0px 5px 1px rgb(255, 165, 90);
  font-size: 13px;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

input[type="password"]:focus {
  outline: none;
  border: solid 1px orange;
  border-radius: 3px;
  height: 28px;
  box-shadow: 0 0px 5px 1px rgb(255, 165, 90);
  font-size: 13px;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

.agreement {
  font-size: 12px;
}

.loginlabel {
  text-align: center;
  font-size: 13px;
}

.next-button {
  width: 290px;
  height: 30px;
  background: linear-gradient(to bottom, #f2e0b2, #f8be2d);
  border: solid 1px rgb(150, 149, 149);
  border-radius: 3px;
  margin: 10px 0 10px 0;
}

.forget-pass:hover {
  text-decoration: underline;
  color: rgb(190, 70, 14);
}

.createbutton:hover {
  text-decoration: underline;
  color: rgb(0, 0, 0);
}

.next-button:hover {
  text-decoration: none;
  background: linear-gradient(to bottom, #f7da92, #f8be2d);
}
.next {
  text-align: center;
  font-size: 13px;
}
.fontsize {
  font-size: 12px;
}

.head-border {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
  font-size: 12px;
  margin-bottom: 10px;
}

.head-border::before,
.head-border::after {
  display: block;
  content: "";
  width: 20px;
  border: 0.5px solid rgb(237, 234, 234);
  /* margin: 10px; */
}

.head-border::before {
  margin-right: 5px;
}
.head-border::after {
  margin-left: 5px;
}

.createbutton {
  width: 290px;
  height: 28px;
  background: linear-gradient(to bottom, #f8f8f9, rgb(234, 235, 237));
  border: solid 1px rgb(179, 179, 180);
  border-radius: 3px;
  margin: auto;
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
  text-decoration: none;
}
.createbutton:hover {
  background: #e7e9ec;
  text-decoration: none;
}
.loginform {
  margin-top: 5px;
}

.passform {
  margin-top: 5px;
}

.forget-pass {
  margin-left: 80px;
  font-weight: 100;
  color: #0076c4;
  text-decoration: none;
}
.keeplogin {
  font-weight: 100;
  display: flex;
  align-items: center;
}
.createlabel {
  margin-top: 5px;
}

.balloon2 {
  position: relative;
  display: inline-block;
  /* margin: 1.5em 0; */
  height: auto;
  padding: 14px 18px;
  /* min-width: 50px; */
  width: 400px;
  color: #555;
  font-size: 13px;
  background: #fff;
  border: solid 1px rgb(228, 226, 226);
  box-sizing: border-box;
  border-radius: 3px;
}

.balloon2:before {
  content: "";
  position: absolute;
  bottom: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-top: 12px solid #fff;
  z-index: 2;
}

.balloon2:after {
  content: "";
  position: absolute;
  bottom: -30px;
  left: 50%;
  margin-left: -17px;
  border: 14px solid transparent;
  border-top: 14px solid rgb(228, 226, 226);
  z-index: 1;
}

.balloon2 p {
  margin: 0;
  padding: 0;
}

.detail-popup{
  position: absolute;
  left: 100px;
  top: 1px;
}

.eye-position{
  position: relative;
}

.Password__visual{
  position: absolute;
  top: 3px;
  right: 15px;
}