img {
  width: 180px;
  display: block;
  margin: 0 auto;
}
a1 {
  font-size: 27px;
}

input {
  height: 25px;
  width: 270px;
  /* font-size: 18px;
  font-weight: 1px; */
}

.login {
  width: 295px;
  padding: 20px;
  height: auto;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 5px;
  margin: 0 auto;
}
.input {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"]:focus {
  outline: none;
  border: solid 1px orange;
  border-radius: 3px;
  height: 28px;
  box-shadow: 0 0px 5px 1px rgb(255, 165, 90);
  font-size: 13px;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

.agreement {
  font-size: 12px;
}

button {
  width: 280px;
  height: 30px;
  background: #f6cb5e;
  /* border-color: #a88734 #9c7e31 #846a29; */
  /* border-color: rgb(224, 217, 217); */
  border: solid 1px rgb(150, 149, 149);
  border-radius: 3px;
}
.button :hover {
  background-color: #f0c14b;
}
a {
  color: #0076c4;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
summary {
  cursor: pointer;
  font-size: 12px;
  color: #0076c4;
}
summary:hover {
  text-decoration: underline;
  color: #f7bd2d;
}
p {
  font-size: 12px;
}
