.amazon-top {
  width: 180px;
  display: block;
  margin: 0 auto;
}
h1 {
  font-size: 27px;
}

.input-form {
  border: 1px solid #898989;
  height: 25px;
  width: 290px;
  /* font-size: 18px;
  font-weight: 1px; */
}

.login-frame {
  width: 330px;
  padding: 20px;
  height: auto;
  border: 1px solid rgb(228, 226, 226);
  border-radius: 5px;
  margin: 0 auto;
}
.mailornumber {
  margin-top: 10px;
  font-weight: bold;
  font-size: 14px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}
input[type="text"]:focus {
  outline: none;
  border: solid 1px orange;
  border-radius: 3px;
  height: 28px;
  box-shadow: 0 0px 5px 1px rgb(255, 165, 90);
  font-size: 13px;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}

.agreement {
  font-size: 12px;
}

.next-button {
  width: 290px;
  height: 26px;
  background: linear-gradient(to bottom, #f2e0b2, #f8be2d);
  /* border-color: #a88734 #9c7e31 #846a29; */
  /* border-color: rgb(224, 217, 217); */
  border: solid 1px rgb(150, 149, 149);
  border-radius: 3px;
  margin: 10px 0 10px 0;
}

.url {
  color: #0076c4;
  text-decoration: none;
  font-size: 12px;
}
a:hover {
  text-decoration: underline;
}
summary {
  cursor: pointer;
  font-size: 12px;
  color: #0076c4;
  display: list-item;
}
.help {
  margin-top: 10px;
}
.help:hover{
  text-decoration: underline;
}

.next-button:hover {
  text-decoration: none;
  background: linear-gradient(to bottom, #f7da92, #f8be2d);
}
.next {
  text-align: center;
  font-size: 13px;
}
.fontsize {
  font-size: 12px;
}

.head-border {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #898989;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
  font-size: 12px;
}

.head-border::before,
.head-border::after {
  content: "";
  width: 64px;
  border: 0.5px solid rgb(237, 234, 234);
  margin: 28px;
}

.head-border::before {
  margin-right: 1rem;
}
.head-border::after {
  margin-left: 1rem;
}

.createbutton {
  width: 330px;
  height: 28px;
  background: linear-gradient(to bottom, #f8f8f9, rgb(234, 235, 237));
  /*background: rgb(234, 235, 237);
  /* border-color: #a88734 #9c7e31 #846a29; */
  /* border-color: rgb(224, 217, 217); */
  border: solid 1px rgb(179, 179, 180);
  border-radius: 3px;
  margin: auto;
  font-size: 13px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-family: "Hiragino Kaku Gothic Pro W3", "Hiragino Kaku Gothic ProN",
    Meiryo, sans-serif;
}
.createbutton:hover{
  background: #e7e9ec;
}